*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body 
{
     background-color : #c6b300;
     width: 100vw;
     height: 100vh;
     display: grid;
     place-items: center;
}


form 
{
     background-color: #7f7200; 
     padding: 80px;
     width: 25%;
     margin: 100px auto;
     text-align: center;
    
}

#frm label 
{
    font-size: 30px;
}

#tmp
{
     border: none;
     padding: 10px;
     height: 40px;
     width: 100px;
     font-size: 20px;
     margin-top: 20px;
}

#diff 
{
    height: 40px;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    vertical-align: top;
}

[type="submit"] 
{

    height: 35px;
    margin: 20px;
    width: 100px;
    font-size: 15px;
    border: none; 
   background-color: rgb(1, 7, 12); 
   color: white;
}

#resultContainer 
{ 
    font-size: 35px;
}